<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>agregarNoticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>

   <ion-item>
    <ion-label position="floating">Titulo</ion-label>
    <ion-input [(ngModel)]="noticia.titulo" placeholder="Ingrese un titulo"></ion-input>
   </ion-item>

   <ion-item>
    <ion-label position="floating">Descripcion</ion-label>
    <ion-input [(ngModel)]="noticia.descripcion" placeholder="Ingrese una Descripcion"></ion-input>
   </ion-item>

   <ion-item>
    <ion-label position="floating">Contenido</ion-label>
    <ion-textarea [(ngModel)]="noticia.contenido" placeholder="Ingrese el contenido" rows="6"></ion-textarea>
   </ion-item>

   <ion-item>
    <ion-label position="floating">Fecha</ion-label>
    <ion-datetime [(ngModel)]="noticia.fecha" displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
   </ion-item>

   <ion-item>
    <ion-label position="floating">Autor</ion-label>
    <ion-select [(ngModel)]="noticia.autorID" placeholder="Seleccione un autor" interface="popover">
      <ion-select-option *ngFor="let autor of Autores"  name="autor"
      [value]="autor.autorID">{{autor.nombre}} {{autor.apellido}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button *ngIf="!esEditable" expand="block"(click)="guardarNoticia()">Guardar</ion-button>
  <ion-button *ngIf="esEditable" expand="block" (click)="editarNoticia()">Editar</ion-button>



 </ion-list>

</ion-content>
